node_modules/
bundle.js
bundle.js.map

config/initializers/secret_token.rb
config/master.key

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/app/assets/javascripts/bundle.js

/.bundle

/storage/*
!/storage/.keep

/yarn-error.log

.byebug_history

setup.txt

sidebar.tsx
sidebar.test.tsx