node_modules/
bundle.js
bundle.js.map
/.bundle

config/initializers/secret_token.rb
config/master.key

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep


/yarn-error.log
.byebug_history

setup.txt
test/practice