account-tabdisplay-item {
    color: rgb(240, 240, 240);
    text-decoration: none;
    border-bottom: 4px solid transparent;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        border-bottom: 4px solid rgb(255, 0, 0);
    }
}

.account-show-header__background {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 280px;
    width: inherit;
    background-position: center;
    background-size: cover;
    .account-show-header__shade {
        z-index: 2;
        height: inherit;
        width: 970px;
        background-color: rgba(0, 0, 0, 0.5);
        > div {
            height: inherit;
            display: flex;
            justify-content: space-between;
            .account-show-header__left {
                display: flex;
                margin-top: 34px;
                .account-show-header__image {
                    position: relative;
                    height: 220px;
                    width: 220px;
                    right: 22px;
                    background-position: center;
                    background-size: cover;
                    border: 2px solid rgb(140, 140, 140);
                    border-radius: 50%;
                }
                .account-show-header__text {
                    position: relative;
                    top: 14px;
                    right: 10px;
                    display: flex;
                    flex-direction: column;
                    .account-show-header__username {
                        color: rgb(106, 153, 255);
                        font-size: 35px;
                    }
                }
            }
            .account-tabdisplay {
                display: flex;
                align-items: flex-end;
                white-space: nowrap;
                margin-right: 290px;
                .account-tabdisplay-item {
                    @extend account-tabdisplay-item;
                }
                .account-tabdisplay-item__highlighted {
                    @extend account-tabdisplay-item;
                    border-bottom: 4px solid rgb(255, 0, 0);
                }
            }
        }
    }
}

.account-show__shade {
    width: 100%;
    min-height: calc(100vh - 362px);
    background: rgb(219, 219, 219);
    .account-show-profile {
        width: unquote("min(970px, 100vw)");
        min-height: calc(100vh - 362px);
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(240, 240, 240);
        margin: 0px auto;
        padding-bottom: 20px;
        .account-show-profile__h1 {
            padding: 16px 0px 5px 0px;
            font-size: 20px;
        }
        .account-show-profile__form {
            display: flex;
            flex-direction: column;
            width: unquote("min(300px, 80vw)");
            border-bottom: 2px solid rgb(219, 219, 219);
            padding: 7px 0px;
            margin-left: 16px;
            .account-show-profile__h2 {
                font-size: 18px;
                margin-bottom: 7px;
            }
            .account-show-profile__label {
                margin-bottom: 3px;
            }
            .account-show-profile__input {
                margin-bottom: 5px;
            }
            .account-show-profile__submit {
                cursor: pointer;
                width: 70px;
                font-family: 'Programme Regular', sans-serif;
                background-color: rgb(38, 38, 38);
                color: rgb(197, 197, 197);
                font-size: 13px;
                border: 1px solid rgb(80, 80, 80);
                border-radius: 2px;
                margin-bottom: 5px;
                &:hover {
                    background-color: rgb(44, 44, 44);
                    color: rgb(240, 240, 240);
                }
            }
        }
        .account-show-profile__error {
            color: rgb(197, 0, 0)
        }
    }
}
