account-tabdisplay-item {
    transition: 0.2s;
    margin-right: 15px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    text-decoration: none;
    color: rgb(240, 240, 240);
    &:hover {
        border-bottom: 4px solid rgb(255, 0, 0);
    }
}

.account-show-header__background {
    display: flex;
    justify-content: space-around;
    width: inherit;
    height: 280px;
    background-position: center;
    background-size: cover;
    .account-show-header__shade {
        z-index: 2;
        width: 970px;
        height: inherit;
        background-color: rgba(0, 0, 0, 0.5);
        > div {
            display: flex;
            justify-content: space-between;
            height: inherit;
            .account-show-header__left {
                display: flex;
                margin-top: 34px;
                .account-show-header__image {
                    position: relative;
                    right: 22px;
                    width: 220px;
                    height: 220px;
                    border: 2px solid rgb(140, 140, 140);
                    border-radius: 50%;
                    background-position: center;
                    background-size: cover;
                }
                .account-show-header__text {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    top: 14px;
                    right: 10px;
                    .account-show-header__username {
                        font-size: 35px;
                        color: rgb(106, 153, 255);
                    }
                }
            }
            .account-tabdisplay {
                display: flex;
                align-items: flex-end;
                white-space: nowrap;
                margin-right: 290px;
                .account-tabdisplay-item {
                    @extend account-tabdisplay-item;
                }
                .account-tabdisplay-item__highlighted {
                    @extend account-tabdisplay-item;
                    border-bottom: 4px solid rgb(255, 0, 0);
                }
            }
        }
    }
}

.account-show__shade {
    width: 100%;
    min-height: calc(100vh - 362px);
    background-color: rgb(219, 219, 219);
    .account-show__main {
        margin: 0px auto;
        width: unquote("min(938px, 100vw)");
        min-height: calc(100vh - 362px);
        padding: 16px 16px 20px 16px;
        background-color: rgb(240, 240, 240);
        .account-show__h1 {
            padding-bottom: 5px;
            font-size: 20px;
        }
        .account-show-profile__form {
            display: flex;
            flex-direction: column;
            border-bottom: 2px solid rgb(219, 219, 219);
            width: unquote("min(300px, 80vw)");
            padding: 7px 0px;
            .account-show-profile__h2 {
                margin-bottom: 7px;
                font-size: 18px;
            }
            .account-show-profile__label {
                margin-bottom: 3px;
            }
            .account-show-profile__input {
                margin-bottom: 5px;
            }
            .account-show-profile__submit {
                margin-bottom: 5px;
                border: 1px solid rgb(112, 112, 112);
                border-radius: 2px;
                width: 70px;
                background-color: rgb(240, 240, 240);
                cursor: pointer;
                font-size: 13px;
                font-family: 'Programme Regular', sans-serif;
                color: rgb(112, 112, 112);
                &:hover {
                    background-color: rgb(112, 112, 112);
                    color: rgb(197, 197, 197);
                }
            }
        }
        .account-show__item {
            border-bottom: 2px solid rgb(219, 219, 219);
            padding: 7px 0px;
            .account-show__item-highlighted {
                color: rgb(106, 153, 255);
            }
            .account-show__item-votes {
                color: rgb(51, 197, 51);
            }
            .account-show__item-date {
                color: rgb(173, 173, 173);
            }
            &:hover {
                background-color: rgb(219, 219, 219);
            }
        }
        .account-show-profile__error {
            color: rgb(197, 0, 0);
        }
    }
}

.account-show__shade--dark {
    width: 100%;
    min-height: calc(100vh - 362px);
    background-color: rgb(80, 80, 80);
    .account-show__main {
        margin: 0px auto;
        width: unquote("min(938px, 100vw)");
        min-height: calc(100vh - 362px);
        padding: 16px 16px 20px 16px;
        background-color: rgb(50, 50, 50);
        .account-show__h1 {
            padding-bottom: 5px;
            font-size: 20px;
            color: rgb(173, 173, 173);
        }
        .account-show-profile__form {
            display: flex;
            flex-direction: column;
            border-bottom: 2px solid rgb(80, 80, 80);
            width: unquote("min(300px, 80vw)");
            padding: 7px 0px;
            .account-show-profile__h2 {
                margin-bottom: 7px;
                font-size: 18px;
                color: rgb(173, 173, 173);
            }
            .account-show-profile__label {
                margin-bottom: 3px;
                color: rgb(173, 173, 173);
            }
            .account-show-profile__input {
                margin-bottom: 5px;
                border: 1px solid rgb(112, 112, 112);
                border-radius: 2px;
                background-color: rgb(80, 80, 80);
                color: rgb(173, 173, 173);
            }
            .account-show-profile__submit {
                margin-bottom: 5px;
                border: 1px solid rgb(173, 173, 173);
                border-radius: 2px;
                width: 70px;
                background-color: rgb(50, 50, 50);
                cursor: pointer;
                font-size: 13px;
                font-family: 'Programme Regular', sans-serif;
                color: rgb(173, 173, 173);
                &:hover {
                    background-color: rgb(173, 173, 173);
                    color: rgb(80, 80, 80);
                }
            }
        }
        .account-show__item {
            border-bottom: 2px solid rgb(80, 80, 80);
            padding: 7px 0px;
            color: rgb(173, 173, 173);
            .account-show__item-highlighted {
                color: rgb(106, 153, 255);
            }
            .account-show__item-votes {
                color: rgb(51, 197, 51);
            }
            .account-show__item-date {
                color: rgb(173, 173, 173);
            }
            &:hover {
                background-color: rgb(80, 80, 80);
            }
        }
        .account-show-profile__error {
            color: rgb(197, 0, 0);
        }
    }
}