.annotation-show-main {
    padding-top: 16px;
    padding-left: 17px;
    border-left: 4px solid rgb(121, 164, 255);
    
}

.annotation-show-name {
    font-size: 14px;
    padding-bottom: 17px;
}

.annotation-show-body {
    font-family: 'Programme Light', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(7, 7, 7);
    line-height: 23px;
}