.annotation-show-main {
    padding-top: 5px;
    padding-left: 17px;
    border-left: 4px solid rgb(121, 164, 255);
}

.annotation-show-name {
    font-size: 14px;
    padding-bottom: 17px;
}

.annotation-show-body {
    font-family: 'Programme Light', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: rgb(7, 7, 7);
    line-height: 23px;
}

.annotation-show-create-main {
    padding-left: 17px;
    border-left: 4px solid rgb(121, 164, 255);
}

.annotation-show-create-begin {
    padding: 2px 8px 2px 10px;
    border: 2px solid black;
    color:rgb(7, 7, 7);
    line-height: 28px;
    position: relative;

    display: flex;
    cursor: pointer;
}

.annotation-show-create-h1 {
    position: relative;
    top: 3px;
    line-height: 23px;
}

.annotation-show-create-h2 {
    font-size: 12px;
    color: rgb(51, 197, 51);
    position: relative;
    bottom: 1px;
    left: 6px;
    padding-right: 3px;
}

.annotation-show-create-form-main {
    padding-left: 9px;
    border-left: 4px solid rgb(121, 164, 255);
    margin: auto;
    width: min(100%, 371px);
}

#annotation-show-create-form {
    padding-top: 1px;  
}

.annotation-show-create-form-top {
    font-family: 'Programme Light', sans-serif; 
    font-weight: lighter;
    background: rgb(245, 245, 245);
    font-size: 16px;
    display: block;
    height: 180px;
    width: min(100%, 371px);
    padding: 10px;
    resize: none;
    border: none;margin-top: 20px;
    margin-bottom: 19px;
    
}
.annotation-show-create-form-top:focus {
    box-shadow: inset 0px 0px 2px 2px rgb(194, 213, 255);
    border: 1px, solid rgb(194, 213, 255);
}

.annotation-show-create-form-middle {
    display: flex;
    font-size: 14px;
    font-family: 'Programme Light', sans-serif;
    margin-left: 5px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.annotation-show-create-form-middle-tools {
    color: rgb(168, 168, 168);
    font-family: 'Programme Light', sans-serif; 
    font-size: 14px;
}

.annotation-show-create-form-middle-items {
    font-family: 'Programme Light', sans-serif; 
    padding-left: 5px;
    max-width: 250px;
    position: relative;
    bottom: 4px;
}

.annotation-show-create-form-middle-item {
    font-family: 'Programme Light', sans-serif; 
    color: #99a7ee;
    margin-right: 4px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}










.annotation-show-create-form-bottom {
    margin-top: 15px;
    margin-left: 5px;
    display: flex;
}
.annotation-show-create-form-bottom-save-main {
    padding: 2px 8px 1px 10px;
    border: 2px solid rgb(51, 197, 51);
    color:rgb(7, 7, 7);
    line-height: 28px;
    position: relative;
    background: white;

    display: flex;
}

.annotation-show-create-form-bottom-save-main:hover {
    cursor: pointer;
    background: rgb(200, 255, 200);
}
.annotation-show-create-form-bottom-save-word {
    font-size: 15px;
    color: rgb(51, 197, 51);
    
}
.annotation-show-create-form-bottom-save-score {
    font-size: 12px;
    color: rgb(51, 197, 51);
    padding-right: 3px;
    position: relative;
    left: 6px;
}
.annotation-show-create-form-bottom-cancel {
    font-family: 'Programme Regular', sans-serif;
    font-size: 15px;
    padding: 5px 6px 1px 6px;
    background: white;
    color:rgb(167, 167, 167);
    line-height: 27px;
    position: relative;
    left: 4px;
    
    display: flex;
    border: none;
}
.annotation-show-create-form-bottom-cancel:hover {
    background: rgb(236, 236, 236);
    cursor: pointer;
}







.annotation-show-main-signup {
    padding-top: 5px;
    padding-left: 17px;
    border-left: 4px solid rgb(121, 164, 255);
}

.annotation-show-signup {
    padding: 8px 10px 8px 10px;
    border: 2px solid black;
    color:rgb(7, 7, 7);
    line-height: 31px;
    position: relative;
    bottom: 2px;
    
}
