$programmelight: 'Programme Light', sans-serif;
$programmereg: 'Programme Regular', sans-serif;

comment-item {
    padding: 20px 0px;
    border-top: 1px solid rgb(121, 164, 255);
    margin-left: 15px;
}

.comment-show {
    width: 96%;
    margin: 20px 15px 0px 0px;
    background-color: rgb(219, 219, 219);
    .comment-show--begin {
        display: flex;
        padding: 16px 10px 19px 10px; 
        .comment-show--begin__baby {
            position: relative;
            top: 3px;
            width: 24px;
            height: 24px;
        }
        .comment-show--begin__text {
            resize: none;
            overflow: hidden;
            width: 100%;
            height: 20px;
            border: 2px solid rgb(173, 173, 173);
            margin-left: 5px;
            font-family: $programmelight;
            &::placeholder {
                position: relative;
                top: 3px;
                left: 3px;
                font-size: 16px;
                color: rgb(80, 80, 80);
            }
        }
    }
    .comment-form {
        padding: 15px 6px 10px 6px;
        .comment-form__body--track {
            resize: none;
            overflow: hidden;
            width: unquote("min(98%, 510px)");
            height: 51px;
            padding: 2px 0px 0px 2px;
            border: 2px solid rgb(173, 173, 173);
            margin-left: 5px;
            font-size: 16px;
            font-family: $programmelight;
            text-indent: 3px;
            text-anchor: 2px;
            &::placeholder {
                font-size: 16px;
                color: rgb(80, 80, 80);
            }
            &:focus::placeholder {
                color: rgb(197, 197, 197);
            }
        }
        .comment-form__body--annotation {
            resize: none;
            overflow: hidden;
            width: unquote("min(96%, 307px)");
            height: 46px;
            padding: 6px 4px, 4px, 6px;
            border: 2px solid rgb(173, 173, 173);
            margin-left: 5px;
            font-size: 16px;
            font-family: $programmelight;
            text-indent: 3px;
            &::placeholder {
                font-size: 16px;
                color: rgb(80, 80, 80);
            }
            &:focus::placeholder {
                color: rgb(197, 197, 197);
            }
        }
        .errors-list {
            margin: 3px 0px 0px 5px;
            .errors-list__item {
                color: rgb(197, 0, 0);
            }
        }
        .comment-form__buttons {
            display: flex;
            margin: 10px 0px 0px 5px;
            .comment-form__submit {
                padding: 0px 9px 0px 9px;
                border: 2px solid rgb(51, 197, 51);
                background-color: rgb(240, 240, 240);
                cursor: pointer;
                font-size: 15px;
                line-height: 28px;
                font-family: $programmereg;
                color: rgb(51, 197, 51);
                &:hover {
                    background-color: rgb(200, 255, 200);
                }
            }
            .comment-form__cancel {
                padding: 1px 9px 0px;
                margin-left: 4px;
                background-color: rgb(219, 219, 219);
                cursor: pointer;
                font-size: 15px;
                line-height: 27px;
                font-family: $programmereg;
                color: rgb(112, 112, 112);
                &:hover {
                    background-color: rgb(173, 173, 173);
                    color: rgb(80, 80, 80);
                }
            }
        }
    }
    .comment-show--session {
        display: flex;
        padding: 10px;
        background-color: rgb(219, 219, 219);
        > p {
            margin-right: 5px;
        }
        > a {
            margin-right: 5px;
            color: rgb(91, 167, 194);
            &:hover {
                color: rgb(126, 204, 233);
            }
        }
    }
    .comment-items {
        position: relative;
        right: 4px;
        width: 100%;
        .comment-item--track {
            @extend comment-item;
            width: unquote("min(95%, 537px)");
        }
        .comment-item--annotation {
            @extend comment-item;
            width: unquote("min(93%, 314px)");
        }
        .comment-item__top {
            display: flex;
            justify-content: space-between;
            > div {
                display: flex;
                .comment-item__baby {
                    position: relative;
                    top: 2px;
                    width: 20px;
                    height: 20px;
                }
                .comment-item__commenter {
                    position: relative;
                    top: 5px;
                    left: 5px;
                    font-size: 15px;
                }
            }
            .comment-item__time {
                display: flex;
                justify-content: flex-end;
                font-size: 15px;
                .comment-item__time--tooltip {
                    z-index: 2;
                    position: absolute;
                    visibility: hidden;
                    white-space: nowrap;
                    width: 100px;
                    border-radius: 1px;
                    background-color: rgb(121, 164, 255);
                    font-size: 12px;
                    line-height: 16px;
                    font-family: $programmelight;
                    text-align: center;
                    color: rgb(50, 50, 50);
                }
                &:hover .comment-item__time--tooltip {
                    visibility: visible;
                }
            }
        }
        .comment-item__body {
            padding: 17px 0px 25px;
            font-size: 17px;
            line-height: 23px;
            font-family: $programmelight;
        }
        .comment-item__edited {
            font-size: 12px;
            color: rgb(140, 140, 140);
        }
        .comment-item__buttons {
            font-size: 15px;
            .comment-item__question {
                padding-bottom: 4px;
            }
            .comment-item__button {
                padding: 0px 4px;
                border: 1px solid rgb(173, 173, 173);
                border-radius: 2px;
                margin-right: 4px;
                background-color: rgb(219, 219, 219);
                cursor: pointer;
                font-size: 15px;
                line-height: 20px;
                font-family: $programmereg;
                color: rgb(112, 112, 112);
                &:hover {
                    background-color: rgb(173, 173, 173);
                    color: rgb(80, 80, 80);
                }
            }
        }
    }
}

.comment-show--dark {
    width: 96%;
    margin: 20px 15px 0px 0px;
    background-color: rgb(80, 80, 80);
    .comment-show--begin {
        display: flex;
        padding: 16px 10px 19px 10px;
        .comment-show--begin__baby {
            position: relative;
            top: 3px;
            width: 24px;
            height: 24px;
        }
        .comment-show--begin__text {
            resize: none;
            overflow: hidden;
            width: 100%;
            height: 20px;
            border: 2px solid rgb(140, 140, 140);
            margin-left: 5px;
            background-color: rgb(80, 80, 80);
            font-family: $programmelight;
            &::placeholder {
                position: relative;
                top: 3px;
                left: 3px;
                font-size: 16px;
                color: rgb(197, 197, 197);
            }
        }
    }
    .comment-form {
        padding: 15px 6px 10px 6px;
        .comment-form__body--track {
            resize: none;
            overflow: hidden;
            width: unquote("min(98%, 510px)");
            height: 51px;
            padding: 2px 0px 0px 2px;
            border: 2px solid rgb(173, 173, 173);
            margin-left: 5px;
            background-color: rgb(80, 80, 80);
            font-size: 16px;
            font-family: $programmelight;
            text-indent: 3px;
            text-anchor: 2px;
            color: rgb(173, 173, 173);
            &::placeholder {
                font-size: 16px;
                color: rgb(173, 173, 173);
            }
            &:focus::placeholder {
                color: rgb(112, 112, 112);
            }
        }
        .comment-form__body--annotation {
            resize: none;
            overflow: hidden;
            width: unquote("min(96%, 307px)");
            height: 46px;
            padding: 6px 4px, 4px, 6px;
            border: 2px solid rgb(173, 173, 173);
            margin-left: 5px;
            background-color: rgb(80, 80, 80);
            font-size: 16px;
            font-family: $programmelight;
            text-indent: 3px;
            color: rgb(173, 173, 173);
            &::placeholder {
                font-size: 16px;
                color: rgb(173, 173, 173);
            }
            &:focus::placeholder {
                color: rgb(112, 112, 112);
            }
        }
        .errors-list {
            margin: 3px 0px 0px 5px;
            > li {
                color: rgb(197, 0, 0);
            }
        }
        .comment-form__buttons {
            display: flex;
            margin: 10px 0px 0px 5px;
            .comment-form__submit {
                padding: 0px 9px 0px 9px;
                border: 2px solid rgb(51, 197, 51);
                background-color: rgb(50, 50, 50);
                cursor: pointer;
                font-size: 15px;
                line-height: 28px;
                font-family: $programmereg;
                color: rgb(51, 197, 51);
                &:hover {
                    background-color: rgb(51, 197, 51);
                    color: rgb(50, 50, 50);
                }
            }
            .comment-form__cancel {
                padding: 1px 9px 0px;
                margin-left: 4px;
                background-color: rgb(80, 80, 80);
                cursor: pointer;
                font-size: 15px;
                line-height: 27px;
                font-family: $programmereg;
                color: rgb(173, 173, 173);
                &:hover {
                    background-color: rgb(112,112, 112);
                    color: rgb(219, 219, 219);
                }
            }
        }
    }
    .comment-show--session {
        display: flex;
        padding: 10px;
        background-color: rgb(80, 80, 80);
        > p {
            margin-right: 5px;
            color: rgb(173, 173, 173);
        }
        > a {
            margin-right: 5px;
            color: rgb(106, 153, 255);
            &:hover {
                color: rgb(121, 164, 255);
            }
        }
    }
    .comment-items {
        position: relative;
        right: 4px;
        width: 100%;
        .comment-item--track {
            @extend comment-item;
            width: unquote("min(95%, 537px)");
        }
        .comment-item--annotation {
            @extend comment-item;
            width: unquote("min(93%, 314px)");
        }
        .comment-item__top {
            display: flex;
            justify-content: space-between;
            > div {
                display: flex;
                .comment-item__baby {
                    position: relative;
                    top: 2px;
                    width: 20px;
                    height: 20px;
                }
                .comment-item__commenter {
                    position: relative;
                    top: 5px;
                    left: 5px;
                    font-size: 15px;
                    color: rgb(173, 173, 173);
                }
            }
            .comment-item__time {
                display: flex;
                justify-content: flex-end;
                font-size: 15px;
                color: rgb(173, 173, 173);
                .comment-item__time--tooltip {
                    z-index: 2;
                    position: absolute;
                    visibility: hidden;
                    white-space: nowrap;
                    width: 100px;
                    border-radius: 1px;
                    background-color: rgb(121, 164, 255);
                    font-size: 12px;
                    line-height: 16px;
                    font-family: $programmelight;
                    text-align: center;
                    color: rgb(50, 50, 50);
                }
                &:hover .comment-item__time--tooltip {
                    visibility: visible;
                }
            }
        }
        .comment-item__body {
            padding: 17px 0px 25px;
            font-size: 17px;
            line-height: 23px;
            font-family: $programmelight;
            color: rgb(173, 173, 173);
        }
        .comment-item__edited {
            font-size: 12px;
            color: rgb(80, 80, 80);
        }
        .comment-item__buttons {
            font-size: 15px;
            .comment-item__question {
                padding-bottom: 4px;
                color: rgb(173, 173, 173);
            }
            .comment-item__button {
                padding: 0px 4px;
                border: 1px solid rgb(140, 140, 140);
                border-radius: 2px;
                margin-right: 4px;
                background-color: rgb(80, 80, 80);
                cursor: pointer;
                font-size: 15px;
                line-height: 20px;
                font-family: $programmereg;
                color: rgb(173, 173, 173);
                &:hover {
                    background-color: rgb(112, 112, 112);
                    color: rgb(219, 219, 219);
                }
            }
        }
    }
}