$programmelight: 'Programme Light', sans-serif;
$programmereg: 'Programme Regular', sans-serif;

comment-show-item {
    border-top: 1px solid #99a7ee;
    padding: 20px 0px;
    margin-left: 15px;
}

.comment-show {
    width: 96%;
    background: #eeeeee;
    margin: 20px 15px 0px 0px;
    .comment-show__begin {
        display: flex;
        padding: 16px 10px 19px 10px; 
        > img {
            height: 24px;
            width: 24px;
            position: relative;
            top: 5px;
        }
        > textarea {
            height: 28px; 
            width: 100%;
            resize: none;
            overflow: hidden;
            position: relative;
            bottom: 2px;
            font-family: $programmelight;
            border: 2px solid rgb(182, 182, 182);
            margin-left: 5px;
            &::placeholder {
                position: relative;
                top: 5px;
                left: 3px;
                color: rgb(99, 99, 99);
                font-size: 16px;
            }
        }
    }
    .comment-show-form {
        padding: 15px 6px 10px 6px;
        .comment-show-form__track-text {
            height: 51px;
            width: min(98%, 510px);
            resize: none;
            overflow: hidden;
            font-family: $programmelight;
            margin-left: 5px;
            font-size: 16px;
            text-indent: 3px;
            text-anchor: 2px;
            border: 2px solid rgb(182, 182, 182);
            padding: 10px 4px, 10px, 6px;
            &::placeholder {
                color: rgb(99, 99, 99);
                font-size: 16px;
            }
            &:focus {
                border: 2px, solid rgb(194, 213, 255);
                box-shadow: inset 0px 0px 2px 2px rgb(194, 213, 255);
            }
        }
        .comment-show-form__annotation-text {
            height: 46px;
            width: min(96%, 307px);
            resize: none;
            overflow: hidden;
            font-family: $programmelight;
            font-size: 16px;
            text-indent: 3px;
            border: 2px solid rgb(182, 182, 182);
            padding: 6px 4px, 4px, 6px;
            margin-left: 5px;
            &::placeholder {
                color: rgb(99, 99, 99);
                font-size: 16px;
            }
            &:focus {
                border: 2px, solid rgb(194, 213, 255);
                box-shadow: inset 0px 0px 2px 2px rgb(194, 213, 255);
            }
        }
        .errors-list {
            margin: 3px 0px 0px 5px;
            > li {
                color: #94001e;
            }
        }
        .comment-show-form__buttons {
            position: relative;
            right: 5px;
            bottom: 1px;
            display: flex;
            .comment-show-form__submit {
                cursor: pointer;
                background: white;
                font-family: $programmereg;
                line-height: 28px;
                border: 2px solid rgb(51, 197, 51);
                padding: 0px 8px 0px 10px;
                margin: 10px;
                &:hover {
                    background: rgb(200, 255, 200);
                }
                > p {
                    position:relative;
                    right: 1px;
                    color: rgb(51, 197, 51);
                    font-size: 15px;      
                }
            }
            .comment-show-form__cancel {
                cursor: pointer;
                position: relative;
                left: 4px;
                background: rgb(215, 222, 255);
                font-family: $programmereg;
                line-height: 27px;
                border: 2px solid rgb(215, 222, 255);
                padding: 4px 6px 0px;
                margin: 10px;
                &:hover {
                    background: rgb(196, 207, 255);
                    color:rgb(99, 99, 99);
                    border: 2px solid rgb(196, 207, 255);
                }
                > p {
                    position: relative;
                    bottom: 2px;
                    color:rgb(122, 122, 122);
                    font-size: 15px;
                }
            }
        }
    }
    .comment-show__session {
        display: flex;
        background: #eeeeee;
        padding: 10px;
        > p {
            margin-right: 5px;
        }
        > a {
            color: rgb(95, 124, 255);
            margin-right: 5px;
        }
    }
    .comment-show__items {
        width: 101%;
        position: relative;
        right: 4px;
        .comment-show-item--track {
            @extend comment-show-item;
            width: min(95%, 537px);
        }
        .comment-show-item--annotation {
            @extend comment-show-item;
            width: min(93%, 314px);
        }
        .comment-show-item__top {
            display: flex;
            justify-content: space-between;
            > div {
                display: flex;
                .comment-show-item__baby {
                    height: 20px;
                    width: 20px;
                    position: relative;
                    top: 2px;
                }
                .comment-show-item__commenter {
                    position: relative;
                    top: 5px;
                    left: 5px;
                    font-size: 15px;
                }
            }
            .comment-show-item__time {
                font-size: 15px;
                display: flex;
                justify-content: flex-end;
                .comment-show-item__time--tooltip {
                    visibility: hidden;
                    z-index: 2;
                    width: 100px;
                    position: absolute;
                    background: #adb9f5;
                    font-family: $programmelight;
                    color: rgb(56, 56, 56);
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    border-radius: 1px;
                    white-space: nowrap;
                }
                &:hover .comment-show-item__time--tooltip {
                    visibility: visible;
                }
            }
        }
        .comment-show-item__body {
            font-family: $programmelight;
            font-size: 17px;
            line-height: 23px;
            padding: 17px 0px 25px;
        }
        .comment-show-item__edited {
            color: rgb(161, 161, 161);
            font-size: 12px;
        }
        .comment-show-item__buttons {
            font-size: 15px;
            .comment-show-item__question {
                padding-bottom: 4px;
            }
            .comment-show-item__button {
                cursor: pointer;
                background: #eeeeee;
                font-family: $programmereg;
                color: rgb(112, 112, 112);
                font-size: 15px;
                line-height: 20px;
                border: 1px solid rgb(182, 182, 182);
                border-radius: 2px;
                padding: 0px 4px;
                margin-right: 4px;
                &:hover {
                    color: rgb(70, 70, 70);
                    background: rgb(182, 182, 182);
                }
            }
        }
    }
}

.comment-show--dark {
    width: 96%;
    background: rgb(70, 70, 70);
    margin: 20px 15px 0px 0px;
    .comment-show__begin {
        display: flex;
        padding: 16px 10px 19px 10px;
        > img {
            height: 24px;
            width: 24px;
            position: relative;
            top: 5px;
        }
        > textarea {
            height: 28px;
            width: 100%;
            resize: none;
            overflow: hidden;
            position: relative;
            bottom: 2px;
            background: rgb(80, 80, 80);
            font-family: $programmelight;
            color: rgb(173, 173, 173);
            border: 2px solid rgb(140, 140, 140);
            margin-left: 5px;
            &::placeholder {
                position: relative;
                top: 5px;
                left: 3px;
                color: rgb(140, 140, 140);
                font-size: 16px;
            }
        }
    }
    .comment-show-form {
        padding: 15px 6px 10px 6px;
        .comment-show-form__track-text {
            height: 51px;
            width: min(98%, 510px);
            resize: none;
            overflow: hidden;
            background: rgb(80, 80, 80);
            font-family: $programmelight;
            color: rgb(173, 173, 173);
            font-size: 16px;
            text-indent: 3px;
            text-anchor: 2px;
            border: 2px solid rgb(140, 140, 140);
            padding: 10px 4px, 10px, 6px;
            margin-left: 5px;
            &::placeholder {
                color: rgb(140, 140, 140);
                font-size: 16px;
            }
            &:focus {
                border: 2px, solid rgb(194, 213, 255);
                box-shadow: inset 0px 0px 2px 2px rgb(141, 156, 188);
            }
        }
        .comment-show-form__annotation-text {
            height: 46px;
            width: min(96%, 307px);
            resize: none;
            overflow: hidden;
            background: rgb(80, 80, 80);
            font-family: $programmelight;
            color: rgb(173, 173, 173);
            font-size: 16px;
            text-indent: 3px;
            border: 2px solid rgb(140, 140, 140);
            padding: 6px 4px, 4px, 6px;
            margin-left: 5px;
            &::placeholder {
                color: rgb(140, 140, 140);
                font-size: 16px;
            }
            &:focus {
                border: 2px, solid rgb(194, 213, 255);
                box-shadow: inset 0px 0px 2px 2px rgb(141, 156, 188);
            }
        }
        .errors-list {
            margin: 3px 0px 0px 5px;
            >li {
                color: #94001e;
            }
        }
        .comment-show-form__buttons {
            position: relative;
            right: 5px;
            bottom: 1px;
            display: flex;
            .comment-show-form__submit {
                cursor: pointer;
                background: rgb(50, 50, 50);
                font-family: $programmereg;
                line-height: 28px;
                border: 2px solid rgb(51, 197, 51);
                padding: 0px 8px 0px 10px;
                margin: 10px;
                &:hover {
                    background: rgb(200, 255, 200);
                    color: rgb(50, 50, 50);
                }
                > p {
                    position: relative;
                    right: 1px;
                    color: rgb(51, 197, 51);
                    font-size: 15px;
                }
            }
            .comment-show-form__cancel {
                cursor: pointer;
                position: relative;
                left: 4px;
                background: rgb(215, 222, 255);
                font-family: $programmereg;
                line-height: 27px;
                border: 2px solid rgb(215, 222, 255);
                padding: 4px 6px 0px;
                margin: 10px;
                &:hover {
                    background: rgb(196, 207, 255);
                    color: rgb(99, 99, 99);
                    border: 2px solid rgb(196, 207, 255);
                }
                > p {
                    position: relative;
                    bottom: 2px;
                    color: rgb(122, 122, 122);
                    font-size: 15px;
                }
            }
        }
    }
    .comment-show__session {
        display: flex;
        background: rgb(70, 70, 70);
        padding: 10px;
        > p {
            color: rgb(173, 173, 173);
            margin-right: 5px;
        }
        > a {
            color: rgb(95, 124, 255);
            margin-right: 5px;
        }
    }
    .comment-show__items {
        width: 101%;
        position: relative;
        right: 4px;
        .comment-show-item--track {
            @extend comment-show-item;
            width: min(95%, 537px);
        }
        .comment-show-item--annotation {
            @extend comment-show-item;
            width: min(93%, 314px);
        }
        .comment-show-item__top {
            display: flex;
            justify-content: space-between;
            > div {
                display: flex;
                .comment-show-item__baby {
                    height: 20px;
                    width: 20px;
                    position: relative;
                    top: 2px;
                }
                .comment-show-item__commenter {
                    position: relative;
                    top: 5px;
                    left: 5px;
                    color: rgb(173, 173, 173);
                    font-size: 15px;
                }
            }
            .comment-show-item__time {
                font-size: 15px;
                display: flex;
                justify-content: flex-end;
                color: rgb(173, 173, 173);
                .comment-show-item__time--tooltip {
                    visibility: hidden;
                    z-index: 2;
                    width: 100px;
                    position: absolute;
                    background: #adb9f5;
                    font-family: $programmelight;
                    color: rgb(56, 56, 56);
                    font-size: 12px;
                    line-height: 16px;
                    text-align: center;
                    border-radius: 1px;
                    white-space: nowrap;
                }
                &:hover .comment-show-item__time--tooltip {
                    visibility: visible;
                }
            }
        }
        .comment-show-item__body {
            font-family: $programmelight;
            color: rgb(173, 173, 173);
            font-size: 17px;
            line-height: 23px;
            padding: 17px 0px 25px;
        }
        .comment-show-item__edited {
            color: rgb(80, 80, 80);
            font-size: 12px;
        }
        .comment-show-item__buttons {
            font-size: 15px;
            .comment-show-item__question {
                color: rgb(173, 173, 173);
                padding-bottom: 4px;
            }
            .comment-show-item__button {
                cursor: pointer;
                background: rgb(70, 70, 70);
                font-family: $programmereg;
                color: rgb(173, 173, 173);
                font-size: 15px;
                line-height: 20px;
                border: 1px solid rgb(140, 140, 140);
                border-radius: 2px;
                padding: 0px 4px;
                margin-right: 4px;
                &:hover {
                    color: rgb(193, 193, 193);
                    background: rgb(80, 80, 80);
                }
            }
        }
    }
}