.demo-user {
    cursor: pointer;
    font-family: 'Programme Regular', sans-serif;
    color: black;
    background: inherit;
    text-decoration: none;
    letter-spacing: 0.75px;
    margin: 0px 0px 15px 15px;
}