.demo-login {
    transition: 0.2s;
    padding-bottom: 22px;
    margin-left: 15px;
    background: inherit;
    cursor: pointer;
    letter-spacing: 0.75px;
    font-family: 'Programme Regular', sans-serif;
    color: rgb(0, 0, 0);
    &:hover {
        border-bottom: 4px rgb(255, 0, 0) solid;
    }
}