.demo-user {
    cursor: pointer;
    font-family: 'Programme Regular', sans-serif;
    color: black;
    background: inherit;
    text-decoration: none;
    letter-spacing: 0.75px;
    padding-bottom: 22px;
    margin-left: 15px;
    transition: 0.2s;
    &:hover {
        border-bottom: 4px red solid;
    }
}