.header {
    height: 35px;
    display: flex;
    justify-content: space-between;
    background: rgb(106, 153, 255);
    padding: 6px 5px 0px 5px;
    .header__logo {
        font-family: 'Programme', Arial, sans-serif;
        color: rgb(106, 153, 255);
        font-size: 20px;
        letter-spacing: 8px;
        text-decoration: none;
        text-shadow: 2.4px -2.2px 0px #000000;
        margin: 7px auto 0px auto;
    }
    .session-buttons {
        width: 180px;
        display: flex;
        justify-content: flex-end;
        color: black;
        font-size: 12px;
        letter-spacing: 1px;
        padding: 9px 10px 0px 0px;
    }
}