
header {
    display: flex;
    background: rgb(106, 153, 255);
    justify-content: space-between;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 6px;

}

.search-bar-main {
    display: flex;
}

.search-bar-form {
    font-family: 'Programme Regular', sans-serif;
    font-size: 15px;  
    color: black;
    height: 27px;
    width: 170px;
    border: none;
    font-weight: 800px;
    padding-left: 10px;
}

.search-bar-glass {
    height: 29px;
    width: 32px;
}

.header-right {
    display: flex;
    font-size: 12px;
    color: black;
    text-align: center;
    padding-top: 9px;
    padding-right: 10px;
    letter-spacing: 1px;
}

.header-main {
    display: flex;
    text-align: center;
}

.login, .signup {
    font-family: 'Programme Regular', sans-serif;
    text-decoration: none;
    color: black;
    padding-right: 10px;
    letter-spacing: -0.25px;
}

.logo {
    position: relative;
    font-family: Programme, Arial, sans-serif;

    letter-spacing: 8px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(106, 153, 255);
    text-shadow: 2.4px -2.2px 0px #000000;
    padding-top: 7px;
}

.demo {
    font-family: 'Programme Regular', sans-serif;
    position: relative;
    text-align: center;
    letter-spacing: -0.25px;
}

.demo:hover {
    cursor: pointer;
}

.logout {
    text-decoration: none;
    color: black;
    padding-right: 10px;
    letter-spacing: -0.25px;
}

.logout:hover {
    cursor: pointer;
}
