$programmereg: 'Programme Regular', sans-serif;
$programmelight: 'Programme Light', sans-serif;

.lyrics__shade {
    width: 100%;
    min-height: calc(100vh - 362px);
    background-color: rgb(219, 219, 219);
    .lyrics__main {
        display: flex;
        width: unquote("min(970px, 100vw)");
        min-height: calc(100vh - 362px);
        margin: 0px auto;
        background-color: rgb(240, 240, 240);
        .lyrics__text {
            width: 530px;
            padding: 16px 0px 96px 16px;
            .lyrics__top {
                margin: 2px 0px 26px 0px;
                font-size: 12px;
                letter-spacing: 0.2px;
                font-family: $programmereg;
                color: rgb(173, 173, 173);
            }
            .lyrics__body {
                width: 530px;
                font-size: 18px;
                line-height: 30px;
                .lyrics__not-annotation {
                    font-size: 18px;
                    font-family: $programmelight;
                }
                .lyrics__is-annotation {
                    padding: 4px 0px 5px 0px;
                    background-color: rgb(219, 219, 219);
                    cursor: pointer;
                    font-size: 18px;
                    font-family: $programmelight;
                    &:hover {
                        background-color: rgb(121, 164, 255);
                        color: rgb(240, 240, 240);
                    }
                }
                .lyrics__highlighted {
                    padding: 4px 0px 5px 0px;
                    background-color: rgb(121, 164, 255);
                    font-family: $programmelight;
                    color: rgb(240, 240, 240);
                }
            }
        }
        .lyrics__right {
            min-width: 371px;
            margin-right: auto;
        }
    }
}

.lyrics__shade--dark {
    width: 100%;
    min-height: calc(100vh - 362px);
    background-color: rgb(80, 80, 80);
    .lyrics__main {
        display: flex;
        width: unquote("min(970px, 100vw)");
        min-height: calc(100vh - 362px);
        margin: 0px auto;
        background-color: rgb(50, 50, 50);
        .lyrics__text {
            min-width: 530px;
            padding: 16px 0px 96px 16px;
            .lyrics__top {
                margin: 2px 0px 26px 0px;
                font-size: 12px;
                font-family: $programmereg;
                letter-spacing: 0.2px;
                color: rgb(173, 173, 173);
            }
            .lyrics__body {
                width: 530px;
                font-size: 18px;
                line-height: 30px;
                .lyrics__not-annotation {
                    font-size: 18px;
                    font-family: $programmelight;
                    color: rgb(173, 173, 173);
                }
                .lyrics__is-annotation {
                    padding: 4px 0px 5px 0px;
                    background-color: rgb(80, 80, 80);
                    cursor: pointer;
                    font-size: 18px;
                    font-family: $programmelight;
                    color: rgb(173, 173, 173);
                    &:hover {
                        background-color: rgb(121, 164, 255);
                        color: rgb(50, 50, 50);
                    }
                }
                .lyrics__highlighted {
                    padding: 4px 0px 5px 0px;
                    background-color: rgb(121, 164, 255);
                    font-family: $programmelight;
                }
            }
        }
        .lyrics__right {
            min-width: 371px;
            margin-right: auto;
        }
    }
}