
.lyrics-show-main {
    width: 100%;
    background: #f7f7f7;
}

.lyrics-show-shade {
    max-width: 970px;
    background: rgb(255, 255, 255);
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.lyrics-show-left {
    max-width: 562px;
    padding: 16px; 
}

.lyrics-show-top {
    font-family: 'Programme Regular', sans-serif;
    color: #9a9a9a;
    font-size: 12px;
    letter-spacing: 0.2px;
    padding-bottom: 28px;
}

.lyrics-show-body {
    font-family: 'Programme Light', sans-serif;    
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
    width: 530px;
}

.not-an-anno {
    font-family: 'Programme Light', sans-serif;    
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
}

.is-an-anno {
    font-family: 'Programme Light', sans-serif;    
    font-size: 18px;
    font-weight: lighter;
    line-height: 30px;
    background: rgb(224, 224, 224);
}

.is-an-anno:hover {
    background: rgb(121, 164, 255);
    cursor: pointer;
}

.lyrics-show-right {
    width: min(100%, 371px);
    margin-right: auto;
}