.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 41px;
    width: inherit;
    background:black;
    font-size: 14px;
    text-decoration: none;
    padding: 0px 80px 0px 80px;
    > a {
        color: white;
        border-right: 1px solid white;
        padding: 0px 36px 0px 36px;
        margin: 14px auto 12px auto;
    }
    .collective-sounds {
        width: 145px;
    }
    .genius-live {
        width: 85px;
    }
    .featured {
        width: 65px;
    }
    .charts {
        width: 57px;
    }
    .videos {
        width: 54px;
    }
    .shop {
        width: 40px;
    }
    .navbar-image-main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 127px;
        padding: 0px 36px 0px 36px;
        margin: auto;
        > a > img {
            height: 20px;
            width: 20px;
            padding: 0px 0px 0px 19px;
        }
    }
}