notification-icon {
    position: relative;
    bottom: 2px;
    transition: 0.2s;
    padding-bottom: 8px;
    margin-right: 15px;
    cursor: pointer;
    &:hover {
        border-bottom: 4px rgb(255, 0, 0) solid;
    }
}

.notification-icon__unread {
    @extend notification-icon;
    color: rgb(197, 0, 0);
}
.notification-icon__read {
    @extend notification-icon;
}
.notification-list {
    z-index: 3;
    position: absolute;
    top: 57px;
    right: 16px;
    width: 370px;
    background-color: rgb(219, 219, 219);
    .notification-list__top {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px 9px 16px;
        border-bottom: 1px solid rgb(197, 197, 197);
        .notification-list__top__notifications {
            font-size: 14px;
        }
        .notification-list__top__exit {
            position: relative;
            bottom: 1px;
            cursor: pointer;
            color: rgb(197, 0, 0);
            &:hover {
                color: rgb(223, 0, 0);
            }
        }
    }
    .notification-items {
        .notification-item {
            padding: 0px 2px;
            margin-bottom: 4px;
            background-color: rgb(255, 255, 255);
            cursor: pointer;
            font-size: 12px;
            &:hover {
                background-color: rgb(197, 197, 197);
            }
            .notification-item__regular {
                color: rgb(0, 0, 0);
            }
            .notification-item__highlighted {
                color: rgb(106, 153, 255);
            }
            .notification-item__date {
                color: rgb(140, 140, 140);
            }
        }
    }
}