.search-index {
    z-index: 3;
    position: absolute;
    top: 57px;
    left: 16px;
    width: 370px;
    background-color: rgb(219, 219, 219);
    .search-index__results {
        font-size: 14px;
        border-bottom: 1px solid rgb(197, 197, 197);
        padding: 12px 0px 11px 16px;
    }
    .search-index__songs {
        color: rgb(140, 140, 140);
        font-size: 12px;
        padding: 21px 0px 12px 16px;
    }
    .search-index__no-results {
        height: 167px;
        width: 355px;
        font-size: 16px;
        text-align: center;
        line-height: 167px;
    }
    .search-index__items {
        .search-index-item {
            cursor: pointer;
            display: flex;
            background-color: rgb(255, 255, 255);
            margin-bottom: 4px;
            &:hover {
                background-color: rgb(197, 197, 197);
            }
            .search-index-item__image {
                height: 75px;
                width: 75px;
                background-position: center;
                background-size: cover;
            }
            .search-index-item__body {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 6px 6px 4px 6px;
                .search-index-item__body-top {
                    color: rgb(0, 0, 0);
                    .search-index-item__title {
                        font-size: 16px;
                    }
                    .search-index-item__artist {
                        font-size: 12px;
                    }
                }
                .search-index-item__body-bottom {
                    display: flex;
                    color: rgb(0, 0, 0);
                }
                .search-index-item__eye {
                    height: 12px;
                    width: 12px;
                }
                .search-index-item__views {
                    font-size: 12px;
                    margin-left: 3px;
                }
            }
        }
    }
}