.searchbar {
    display: flex;
    input {
        height: 27px;
        width: 180px;
        font-family: 'Programme Regular', sans-serif;
        color: black;
        font-size: 15px;  
        font-weight: 800px;
        border: none;
        padding: 1px 1px 1px 10px;
        &:focus::placeholder {
            color: rgb(196, 196, 196);
        }
    }
    .searchbar__glass {
        height: 25px;
        width: 25px;
        background: white;
        padding: 2px 0px 2px 0px;
    }
}