header-right-buttons {
    font-family: 'Programme Regular', sans-serif;
    color: black;
    text-decoration: none;
    letter-spacing: 0.75px;
    padding-bottom: 22px;
    transition: 0.2s;
    &:hover {
        border-bottom: 4px red solid;
    }
}

.session-menu__no-user {
    display: flex;
    justify-content: flex-end;
    width: 108px;
    .session-menu__signup {
        @extend header-right-buttons;
    }
    .session-menu__login {
        @extend header-right-buttons;
        margin-left: 15px;
    }
}

.session-menu__user {
    display: flex;
    justify-content: flex-end;
    .session-menu__logout {
        @extend header-right-buttons;
        cursor: pointer;
    }
}