.theme-toggle {
    cursor: pointer;
    position: relative;
    background: inherit;
    bottom: 4px;
    padding-bottom: 26px;
    margin-left: 14px;
    transition: 0.2s;
    &:hover {
        border-bottom: 4px rgb(255, 0, 0) solid;
    }
}