$programme: 'Programme Regular', sans-serif;
$raleway: 'Raleway', sans-serif;

track-index-number {
    position: relative;
    top: 3.5px;
    right: 4px;
    font-size: 12px;
}

.track-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $programme;
    .track-index__h1 {
        font-size: 80px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 71px;
    }
    .track-index__h2 {
        color: rgb(255, 20, 100);
        font-size: 14px;
        margin: 11px 0px 20.5px 0px;
    }
    .track-index__items {
        width: unquote("min(1150px, 100%)");
        .track-index-item {
            display: grid;
            grid-template-columns: 95px 2fr 9fr 8fr 3fr 3fr;
            align-items: center;
            height: 71px;
            width: auto;
            background-position: center;
            background-size: cover;
            border-bottom: rgb(219, 219, 219) solid 2px;
            padding: 2px 0px 2px 0px;
            &:hover {
                background-color: rgb(219, 219, 219);
            }
            .track-index-item__id {
                color: rgb(0, 0, 0);
                font-size: 23px;
                padding-left: 12px;
            }
            .track-index-item__image { 
                height: 60px;
                width: 60px;
                background-position: center;
                background-size: cover;
            }
            .track-index-item__title-main {
                display: flex;
                .track-index-item__title {
                    position: relative;
                    bottom: 0.5px;
                    font-family: $programme;
                    color: rgb(0, 0, 0);
                    font-size: 24px;
                    font-weight: normal;
                }
                .track-index-item__lyrics {
                    position: relative;
                    top: 1.5px;
                    display: flex;
                    align-items: center;
                    color: rgb(140, 140, 140);
                    font-size: 12px;
                    font-weight: 600px;
                    letter-spacing: 1px;
                    margin-left: 5px;
                }
            }
            .track-index-item__artist {
                position: relative;
                bottom: 1px;
                font-family: $raleway;
                color: rgb(0, 0, 0);
                font-size: 23px;
            }
            .track-index-item__count {
                display: flex;
                .track-index-item__count--icon {
                    height: 20px;
                    width: 20px;
                    margin: 0px 15px;
                }
                .track-index-item__count--number--fire {
                    @extend track-index-number;
                    color: rgb(255, 0, 0);
                }
                .track-index-item__count--number--eye {
                    @extend track-index-number;
                    color: rgb(197, 197, 197);
                }
            }
        }
    }
}
.track-index__bottom {
    padding-top: 40px;
    padding-bottom: 50px;
    .track-index__load-more {
        display: flex;
        justify-content: center;
        width: 136px;
        background: rgb(240, 240, 240);
        color: rgb(106, 153, 255);
        font-size: 14px;
        border: 2px solid rgb(106, 153, 255);
        text-align: center;
        padding: 12px 21px;
        margin: 0px auto;
        cursor: pointer;
        &:hover {
            background: rgb(106, 153, 255);
            color: rgb(240, 240, 240);
        }
    }
}

.track-index--dark {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $programme;
    .track-index__h1 {
        color: rgb(173, 173, 173);
        font-size: 80px;
        font-weight: bold;
        letter-spacing: 1px;
        margin-top: 71px;
    }
    .track-index__h2 {
        color: rgb(255, 0, 0);
        font-size: 14px;
        margin: 11px 0px 20.5px 0px;
    }
    .track-index__items {
        width: unquote("min(1150px, 100%)");
        .track-index-item {
            display: grid;
            grid-template-columns: 95px 2fr 9fr 8fr 3fr 3fr;
            align-items: center;
            height: 71px;
            width: auto;
            background-position: center;
            background-size: cover;
            border-bottom: rgb(80, 80, 80) solid 2px;
            padding: 2px 0px 2px 0px;
            &:hover {
                background-color: rgb(80, 80, 80);
            }
            .track-index-item__id {
                color: rgb(173, 173, 173);
                font-size: 23px;
                padding-left: 12px;
            }
            .track-index-item__image {
                height: 60px;
                width: 60px;
                background-position: center;
                background-size: cover;
            }
            .track-index-item__title-main {
                display: flex;
                .track-index-item__title {
                    position: relative;
                    bottom: 0.5px;
                    color: rgb(173, 173, 173);
                    font-family: $programme;
                    font-size: 24px;
                    font-weight: normal;
                }
                .track-index-item__lyrics {
                    position: relative;
                    top: 1.5px;
                    display: flex;
                    align-items: center;
                    color: rgb(112, 112, 112);
                    font-size: 12px;
                    font-weight: 600px;
                    letter-spacing: 1px;
                    margin-left: 5px;
                }
            }
            .track-index-item__artist {
                position: relative;
                bottom: 1px;
                color: rgb(173, 173, 173);
                font-family: $raleway;
                font-size: 23px;
            }
            .track-index-item__count {
                display: flex;
                .track-index-item__count--icon {
                    height: 20px;
                    width: 20px;
                    margin: 0px 15px;
                }
                .track-index-item__count--number--fire {
                    @extend track-index-number;
                    color: rgb(255, 0, 0);
                }
                .track-index-item__count--number--eye {
                    @extend track-index-number;
                    color: rgb(197, 197, 197);
                }
            }
        }
    }
}
.track-index__bottom--dark {
    height: 100%;
    padding-top: 40px;
    padding-bottom: 50px;
    .track-index__load-more {
        display: flex;
        justify-content: center;
        width: 136px;
        background: rgb(50, 50, 50);
        color: rgb(106, 153, 255);
        font-size: 14px;
        border: 2px solid rgb(106, 153, 255);
        text-align: center;
        padding: 12px 21px;
        margin: 0px auto;
        cursor: pointer;
        &:hover {
            background: rgb(106, 153, 255);
            color: rgb(50, 50, 50);
        }
    }
}