track-show-number {
    position: relative;
    top: 3.5px;
    right: 4px;
    font-size: 12px;
}

.track-show__background {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: inherit;
    height: 280px;
    background-position: center;
    background-size: cover;
    .track-show__shade {
        z-index: 2;
        width: 970px;
        height: inherit;
        background-color: rgba(0, 0, 0, 0.5);
        > div {
            display: flex;
            justify-content: space-between;
            .track-show__left {
                position: relative;
                top: 34px;
                display: flex;
                .track-show__image {
                    position: relative;
                    right: 22px;
                    width: 220px;
                    height: 220px;
                    border: 2px solid rgb(140, 140, 140);
                    background-position: center;
                    background-size: cover;
                }
                .track-show__text {
                    position: relative;
                    top: 14px;
                    right: 10px;
                    display: flex;
                    flex-direction: column;
                    .track-show__title {
                        font-size: 35px;
                        color: rgb(106, 153, 255);
                    }
                    .track-show__artist {
                        position: relative;
                        top: 6px;
                        font-size: 25px;
                        font-weight: lighter;
                        color: rgb(240, 240, 240);
                    }
                }
            }
            .track-show__right {
                position: relative;
                top: 20px;
                display: flex;
                align-items: flex-end;
                margin-right: 290px;
                > div {
                    display: flex;
                    > img {
                        width: 20px;
                        height: 20px;
                        margin: 0px 15px;  
                    }
                    .track-show__fire-number {
                        @extend track-show-number;
                        color: rgb(255, 0, 0);
                    }
                    .track-show__eye-number {
                        @extend track-show-number;
                        color: rgb(197, 197, 197);
                    }
                }
            }
        }
    }
}
.track-show__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    .spotify-player {
        position: absolute;
        width: 100%;
    }
}