.vote-show {
    display: flex;
    padding-bottom: 3px;
    .vote-show__voted {
        width: 19px;
        height: 19px;
        cursor: pointer;
        color: rgb(51, 197, 51);
    }
    .vote-show__not-voted {
        width: 19px;
        height: 19px;
        cursor: pointer;
        font-size: 17px;
        color: rgb(140, 140, 140);
        &:hover {
            color: rgb(51, 197, 51);
        }
    }
    .vote-show__count {
        margin-left: 7px;
        font-size: 17px;
        color: rgb(51, 197, 51);
    }
}